.titulo-tabela-lmts{


  width: 100%;
  margin-top: 20px;
  margin-bottom: 1%;
  /* margin-left: 20px; */
  border-bottom: #1b2e4f solid 2px;
}

th, td{
  text-align:center;
}

.card-ppc{
  height: 300px;
  width: 300px;
  margin: 20px 20px 20px 0;
  background-color: #eee;
  transition: all 0.1s linear;
  
}
.card-ppc:hover{
  /* height: 320px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.1s linear;
}
#link-card {
  text-decoration: none;
}
.card-ppc-header{
  /* background-color: #1b2e4f; */
  
  color: black;
  height: 30%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
}

.card-ppc-body{
  background-color: #eee;
  height: 70%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
}
.btn-ppc-processo{

  height: 70px;
  margin-top: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 40px;
  padding: 1% 5% 1%;

  background-color: #1b2e4f;
  color: white;
  transition: all 0.1s linear;
}
.btn-ppc-processo:hover{

  border-radius: 40px;
  padding: 1% 6% 1%;
  background-color: #1b2e4f;
  color: #ddd;
  transition: all 0.1s linear;
}
#white{
  color: white;
}
#white:hover{
  color: #ddd;
}
.btn-primary-ppc{
  background-color: #1B2E4F;
  border-color: #d3e0e9;
  color: white;
  /* border-radius: 70px; */
}
.icone{
  width:120px;
}
.icone-busca{
  width:30px;
}

/* Processos */
.row-processo{
  margin-top: 20px;
  height: 30px;


}
.icone-processo{
  width:20px;
  margin-right: 20px;
  transition: all 0.1s linear;
}

/* .icone-processo:hover{
  width: 30px;
  transition: all 0.1s linear;
} */
/* PPC */
.header-ppc{
  background-color: #1b2e4f;
  color: white;
  margin-top: 20px;
  /* padding-top: 1%; */

}
.item-header-ppc{
  height: 100%;

  padding:1%;
  display:flex;
  justify-content:left;
  align-items:center;
  text-align: center;
}

.info-processo{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #1b2e4f;
}



@media (max-width: 576px) {
  
  .btn-ppc-processo{
    padding: 3% 8% 3%;
  }

  .item-header-ppc{
    height: 100%;

    padding:1%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
  }
  .card-ppc{
    margin-left: 15px;
  }
}
